body{
    background-color: rgb(23, 43, 46);
    color: white;
    font-family: 'Montserrat+Alternates',cursive;
    padding-left: 20px;
}


.signbot a {
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    letter-spacing: 10px;
    font-size: 45px;
    font-family: 'orbitron',cursive;
    
}

p{
    display: inline;
    font-size: 25px;
    font-family: 'merienda',cursive;
}

h3{
    color: rgba(255, 0, 0, 0.616);
}

.loginclass{
    margin-top: 20px;
    text-align: center;
}

.mailbox{
    width: 25rem;
    font-size: larger;
    font-family: 'Rajdhani';
    color: white;
    border: none;
    height: 50px;
    border-radius: 10px;
    box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.842), -10px -12px 32px rgba(255, 255, 255, 0.205);
    background: linear-gradient( to right, rgb(18, 23, 26),rgb(42, 72, 82));
}

.passbox{
    width: 25rem;
    font-family: 'Rajdhani';
    font-size: larger;
    color: white;
    border: none;
    height: 50px;
    border-radius: 10px;
    box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.842), -10px -12px 32px rgba(255, 255, 255, 0.205);
    background: linear-gradient( to right, rgb(18, 23, 26),rgb(42, 72, 82));
}

.align{
    display: inline;
    padding-right: 5px;
}



.logbot{
    font-size: x-large;
    width: 100px;
    font-family: 'Rajdhani';
    border-radius: 10px;
    border : outset 1px grey;
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
}

.signbot{
    font-size: x-large;
    width: 100px;
    font-family: 'Rajdhani';
    border-radius: 10px;
    border : outset 1px grey;
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
}

.loginclass p{
    font-size: 20px;
}

@media screen and (max-width: 680px) {
    h1{
        font-size: 35px;
    }

    p{
        font-size: 15px;
    }

    h3{
        font-size: 15px;
    }

    .mailbox{
        font-size: medium;
        width: 200px;
    }

    .passbox{
        font-size: medium;
        width: 200px;
    }

    .loginclass p{
        font-size: 10px;
    }

   .align{
    display: block;
    margin-bottom: 20px;
   }

   .loginclass{
    margin-top: 50px;
   }

   .logbot{
    font-size: medium;
   }

   .signbot{
    font-size: medium;
   }
}


