{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Truda</title>
</head>
<body>
    <h1>create your account</h1>
    <div class="container">
        <div class="cont">
            <form action="register" method="post" class="formclass">
                {% csrf_token %}
                <div class="c1">
                    <input type="text" name="username" placeholder="username" class="sames">
                </div>
                <div class="c2">
                    <input type="text" name="email" placeholder="email" class="sames">
                </div>
                <input type="password" name="password1"  placeholder="password" class="sames">
                <br><br>
                <input type="password" name="password2" placeholder="confirm password" class="sames">
                {%for message in messages%}
                <h3>{{message}}</h3>
                {%endfor%}
                <button type="submit" name="register" class="signbot">Create account</button>
            </form>
        </div>
    </div>
</body>
</html>